body{
    background-color:grey;
}
.h1{
    text-align: center;
}
.fa{
    
margin-left: 40px;
}

box-inside{
    background-color: white;
    padding:60px 5px;
    text-align: center;
    margin: 20px 10px;
}
.search{
    text-align: center;
}